.markdown-body {
  // テーブルスタイル
  table {
    margin: 1.2rem auto;
    width: auto;
    border-collapse: collapse;
    font-size: 0.95em;
    line-height: 1.5;
    word-wrap: normal;
    display: block;
    overflow: auto;

    th,
    td {
      padding: 0.5rem;
      border: solid 1px var(--subtext-color);
      background: var(--card-color);
    }
    th {
      font-weight: 700;
      background: var(--background-color);
    }

  }

  // 段落と要素のマージン
  p, blockquote, ul, ol, dl, table, pre, details {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 1rem;
  }

  // 見出しスタイル
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--base-text-weight-semibold, 600);
    line-height: 1.25;
    & + p {
      margin-top: 0.3em;
    }
  }

  h1,
  h2 {
    margin-top: 2.3em;
    margin-bottom: 0.5em;
  }
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2.25em;
    margin-bottom: 0.5em;
  }
  h1 {
    padding-bottom: 0.2em;
    margin-bottom: 1.1rem;
    font-size: 1.7em;
    color: var(--accent-color);
  }
  h2 {
    padding-bottom: 0.3em;
    margin-bottom: 1.1rem;
    font-size: 1.5em;
    border-bottom: 1px solid var(--accent-color);
    color: var(--accent-color);
    font-weight: var(--base-text-weight-semibold, 600);
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.1em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.9em;
  }

  // コードスタイル
  code {
    background: var(--code-highlight);
    font-size: 0.85rem;
    word-break: break-all;
    vertical-align: 0.08em;
    border-radius: 0.2rem;
    margin: 0 0.3rem;
    padding: 0.1rem 0.2rem;
  }

  pre {
    margin: 1.3rem 0;
    overflow-x: auto;
    word-break: normal; // iOSで折り返されるのを防ぐ
    word-wrap: normal; // iOSで折り返されるのを防ぐ
    display: flex;
    /* flex + codeの隣に疑似要素を配置することで横スクロール時の右端の余白を作る */
    &:after {
      content: '';
      width: 8px;
      flex-shrink: 0;
    }
    code {
      margin: 0;
      padding: 0;
      background: transparent;
      font-size: 0.9em;
    }
    & > code {
      display: block;
      padding: 0.8rem; // このようにしないとpreのスクロールバーがコードに重なってしまう
    }
  }

  // 引用スタイル
  blockquote {
    margin: 0;
    padding: 0 1em;
    color: var(--subtext-color);
    border-left: 0.25em solid var(--subtext-color);
  }

  // リンクスタイル
  a {
    word-break: break-all;
  }

  // テキストスタイル
  i, cite, em {
    font-style: italic;
  }

  strong {
    font-weight: 700;
  }

  p + p {
    margin-top: 1.5em;
  }

  // リストスタイル
  ul,
  ol {
    margin: 1.4rem 0;
    line-height: 1.7;
    & > li {
      margin: 0.4rem 0;
    }
    ul,
    ol {
      margin: 0.2em 0;
    }
    p {
      margin: 0;
    }
  }
  ul {
    padding-left: 1.8em;
    & > li {
      list-style: disc;
      &::marker {
        font-size: 1.1em;
      }
    }
  }
  ol {
    padding-left: 1.7em;
    & > li {
      list-style: decimal;
      padding-left: 0.2em;
      &::marker {
        font-weight: 600;
        letter-spacing: -0.05em;
      }
    }
  }
}
