---
import PostCard from "./PostCard.astro";

const { posts, lang = "ja" } = Astro.props;
---

<div class="postList">
  {posts.map((post) => <PostCard post={post} lang={lang} />)}
</div>

<style lang="scss">
  .postList {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
</style>
